.ig{
	display: grid;
	justify-content: center;
margin: 0 1em 1em 1em;
padding: 0;
}
.Hangman-word {
	letter-spacing: 1em;
	margin: 0.4em -1em 0.2em 0;
	font-size: 1.5rem;
	color: #07ffc9;
}
img{
	width:200px;
	height:250px;
}
.keys{
	margin: 0 15%;
}
.Hangman button {
	border: none;
	font-family: inherit;
	cursor: pointer;
	margin: 18px 8px 10px 13px;
	background: #07ffc9;
	border-radius: 5px;
	padding:5px;
	width: 30px;
}

.Hangman-reset {
	box-shadow: 0 6px #07ffc9 !important;
	width: 5rem !important;
	background-color: #07ffc9;
	box-shadow: 0 0 40px #07ffc9;
}
.Hangman button:hover {
	background-color: #fffffa;
}

.Hangman button:disabled {
	color: #d6dfdf;
	background-color: #ff1100;
	border-color: #ff1100;
	box-shadow: 0 0 30px #ff1100;
}
.tx{
	padding: 2em;
}
@media(max-width: 800px){
	img{
		width: 150px;
		height: 200px;
	}
	.tx h2,.h2{
		font-size: 20px;
	}
}